
html { box-sizing: border-box; }

body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; }

strong { font-weight: 600; }

a { color: #a365bc; border-bottom: 1px dashed #a365bc; text-decoration: none; transition: all .3s; }
a:hover, a:focus { color: #a365bc; border: 0; text-decoration: none; }

h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 300; color: #555; line-height: 50px; font-style: italic; }
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; font-style: italic; }

img { max-width: 100%; }

.medium-paragraph { font-size: 17px; line-height: 32px; }

::-moz-selection { background: #8542a0; color: #fff; text-shadow: none; }
::selection { background: #8542a0; color: #fff; text-shadow: none; }


/***** General style, all sections *****/
/* Button */
.button { width: 200px; height: 100%; display: flex; justify-content: center; align-items: center; background-color: #111111; color: #ffffff; text-decoration: none; position: relative; background-color: transparent; padding: 10px 20px; border: none; font-size: 1.25rem; transform: none; cursor: pointer; }
.button:after { content: ""; height: 100%; width: calc(100% + 20px); position: absolute; top: -2px; left: -10px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; transition: 1s; }
.button:before { content:""; height: calc(100% + 20px); width: 100%; position: absolute; top: -10px; left: -2px; border-left: 2px solid #fff; border-right: 2px solid #fff; transition: 1s; }
.button:hover:before { transform: rotateY(180deg); }
.button:hover:after { transform: rotateX(180deg); }
/* --------------------- */

/* search */
.search { width: 50%; margin: 50px auto; }
.has-search .form-control { padding-left: 2.375rem; }
.has-search .form-control-feedback { position: absolute; z-index: 2; display: block; width: 2.375rem; height: 2.375rem; line-height: 2.375rem; text-align: center; pointer-events: none; color: #aaa;}
/* --------------------- */

/* Card */
.card{ box-sizing:inherit;  height:auto;  display:flex;  justify-content:center;  align-items:center; }
.card{ position:relative;  max-width:20rem;  margin:1rem auto;  padding:1rem;  background:#fff; }
.card__title{ margin:1rem 0;  color:#333;  text-align:center;  text-transform:capitalize; }
.card__img{ display:block;  width:20em;  max-width:100%;  border-radius:2px; }
.card__text{ margin:1rem;  color:#646464; }
.card__btn{ display:table;  padding:.5rem 2rem;  background:rgba(51,51,51,0.7);  color:#fff;  border-radius:0.25rem;  text-decoration:none;  text-transform:capitalize;  margin:1rem auto 0; }
.card--15{ overflow:hidden;  transition:all 0.3s; }
.card--15 .card__text, .card--15 .card__title, .card--15 .card__btn, .card--15 .card__img{ transition:all 0.3s ease-in-out; }
.card--15:hover{ background-color:transparent; background:rgba(51,51,51,0.7); background-size:cover; background-position:center; background-blend-mode:overlay; }
.card1:hover{ background-image:linear-gradient(rgba(0,0,0,0.825),rgba(0,0,0,0.8)),url('../img/wonderful-highland.jpg'); }
.card2:hover{ background-image:linear-gradient(rgba(0,0,0,0.822),rgba(0,0,0,0.8)),url('../img/curug-cibulao.jpg'); }
.card3:hover{ background-image:linear-gradient(rgba(0,0,0,0.825),rgba(0,0,0,0.8)),url('../img/camp.jpg'); }
.card--15:hover .card__title{ color:#fff;  font-size:15px;  transform:translate3d(0,50px,0) scale(1.5); }
.card--15:hover .card__text{ color:#fff;  transform:translate3d(0,-150px,0) scale(1); }
.card--15:hover .card__img{ opacity:0;  transform:scale(0); }
.card--15:hover .card__btn{ transform:translate3d(0,-20px,0);  color:#fff; }
/* ------------------------- */

/* PRICING CARD */
.card-box{ border:1px solid #ddd; padding:20px; box-shadow:0px 0px 10px 0px #a38b8b; margin-bottom:30px; float:left; border-radius:10px; }
.card-box .card-thumbnail{ max-height:200px; overflow:hidden; border-radius:10px; }
.card-box .card-thumbnail:hover{ transform:scale(1.125); }
.card-box h3 a{ font-size:20px; text-decoration:none;}
.card-mark{ color:#FFF; background-color:#151515; padding:10px 15px; position:absolute; top:0px; left:50%; transform:translateX(-50%); font-size:20px; border-radius:0px 0px 10px 10px; box-shadow:2px 2px 12px rgba(0,0,0,0.5); }
/* --------------------- */

/* MAPS */
.maps-highland{ width: 100%; margin: 0 auto; margin-top:50px; }
#map_container{ position: relative; }
#map{ height: 350px; width: 100%; margin-bottom: 50px; overflow: hidden;  position: relative; }
/* --------------------- */

.section-container { margin: 0 auto; padding-bottom: 80px; }

.section-container-gray-bg { background: #f8f8f8; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 span { border-color: #fff; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }

.section-bottom-button { padding-top: 60px; }


/***** Divider *****/

.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px dotted #aaa; }


/***** Top menu *****/

.navbar { background: #444; transition: all .6s; backface-visibility: hidden; }

.navbar.navbar-no-bg { background: #444; background: rgba(0, 0, 0, 0.5); }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; text-transform: uppercase; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-right: 1rem; padding-left: 1rem; }

.navbar-brand { border: 0; }


/***** Top content *****/

.top-content { width: 100%; }

.top-content h1 { margin-top: 25px; color: #fff; }
.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { color: #fff; color: rgba(255, 255, 255, 0.8); }
.top-content .description a { color: #fff; color: rgba(255, 255, 255, 0.8); border-color: #fff; border-color: rgba(255, 255, 255, 0.8); }
.top-content .description a:hover,
.top-content .description a:focus { color: #fff; color: rgba(255, 255, 255, 0.8); }

.top-content .carousel-caption { bottom: 200px; }


/***** Section 1 *****/

.section-1-box { padding-top: 30px; text-align: left; }

.section-1-box .section-1-box-icon {
	width: 80px; height: 80px; margin: 0 auto;
	
	background: #8542a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #a365bc 0%, #8542a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a365bc), color-stop(100%,#8542a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a365bc 0%,#8542a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0',GradientType=0 ); /* IE6-9 */

    font-size: 40px; color: #fff; line-height: 80px; text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.section-1-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Section 2 *****/

.section-2-box { margin-top: 30px; text-align: left; }
.section-2-box h3 { margin-top: 0; }
.section-2-box-text .medium-paragraph { margin-top: 20px; margin-bottom: 20px; }


/***** Section 3 *****/

.section-3-box { margin-top: 30px; text-align: left; }

.section-3-box .section-3-box-icon {
	width: 60px; height: 60px; margin: 0 auto;
	
	background: #8542a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #a365bc 0%, #8542a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a365bc), color-stop(100%,#8542a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a365bc 0%,#8542a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0',GradientType=0 ); /* IE6-9 */
	
    font-size: 28px; color: #fff; line-height: 60px; text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.section-3-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Footer *****/

footer { padding: 40px 0; }

